<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Stepper</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="node_modules/vuetify/dist/vuetify.css">
        <link rel="stylesheet" href="index.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="app">
          <v-app id="inspire">
            <v-stepper v-model="step">
              <v-stepper-header>
                <v-stepper-step :complete="step > 1" step="1">Quiz</v-stepper-step>
          
                <v-divider></v-divider>
          
                <v-stepper-step :complete="step > 2" step="2">Kolejność</v-stepper-step>
          
                <v-divider></v-divider>
          
                <v-stepper-step :complete="step > 3" step="3">Name of step 3</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step step="4">Name of step 4</v-stepper-step>
              </v-stepper-header>
          
              <v-stepper-items>
                <v-stepper-content step="1">
                  <v-card
                    class="mb-5 text-center"
                    color="white lighten-1"
                    height="50vh"
                  >
                  <template>
                      <div>
                          <template 
                                        v-for="(question,index) in questions"
                                        v-if="index == questionsCounter"
                                        key:
                                        >
                                            <v-subheader :key="question">{{ question.name }}</v-subheader>
                                            <div
                                            :key="answer"
                                            v-for="answer in question.answers"
                                            class="flip mt-3"
                                            :class="[{clicked:answer.name == selected.name}, {'clicked': showAllAnswers}]"
                                            @click="handleRotate(answer)">
                                               <div class="front" :style="{backgroundImage: 'url(images/' + answer.image + ')'}">
                                                 <h1 class="text-shadow">{{ answer.name }}</h1>
                                               </div>
                                               <div class="back">
                                                 <template>
                                                   <h2 v-if="answer.correct" :class="{ 'light-green--text': answer.correct }">Prawidłowa odpowiedź!</h2>
                                                   <h2 v-else :class="{ 'red--text': !answer.correct}">Nieprawidłowa odpowiedź!</h2>
                                                   </template>
                                                 <p>{{ answer.description }}</p>
                                               </div>
                                           </div>
                                        </template>
                                        <v-progress-linear 
                                        v-model="valueDeterminate"></v-progress-linear>
                                        <v-btn 
                                        v-if="showAllAnswers"
                                        color="primary"
                                        class="left"
                                        @click="previousQuestion"
                                        >
                                        Poprzednie pytanie
                                       </v-btn>
                                        <v-btn 
                                              v-if="showAllAnswers"
                                              color="primary"
                                              class="right"
                                              @click="nextQuestion"
                                              >
                                              Następne pytanie
                                        </v-btn>
                                        <v-snackbar
                                            v-model="snackbar.visibility"
                                            :color="snackbar.color"
                                            :bottom="snackbar.y === 'bottom'"
                                            :left="snackbar.x === 'left'"
                                            :multi-line="snackbar.mode === 'multi-line'"
                                            :right="snackbar.x === 'right'"
                                            :timeout="snackbar.timeout"
                                            :top="snackbar.y === 'top'"
                                            :vertical="snackbar.mode === 'vertical'"
                                            :error="error"
                                          >
                                            {{ snackbar.text }}
                                            <v-btn
                                              color="white"
                                              flat
                                              @click="snackbar.visibility = false"
                                            >
                                              &times;
                                            </v-btn>
                                      </v-snackbar>
                      </div>
                  </template>
                </v-card>
          
                  <v-btn
                    color="primary"
                    @click="step = 2"
                  >
                    Kontynuuj
                  </v-btn>
          
                </v-stepper-content>
          
                <v-stepper-content step="2">
                  <v-card
                    class="mb-5"
                    color="grey lighten-1"
                    height="200px"
                  >
                
                </v-card>
          
                  <v-btn
                    color="primary"
                    @click="step = 3"
                  >
                  Kontynuuj
                  </v-btn>
          
                  <v-btn
                   flat
                   @click="step = 1"
                   >Cofnij</v-btn>
                </v-stepper-content>
          
                <v-stepper-content step="3">
                  <v-card
                    class="mb-5"
                    color="grey lighten-1"
                    height="200px"
                  ></v-card>
          
                  <v-btn
                    color="primary"
                    @click="step = 4"
                  >
                    Kontynuuj
                  </v-btn>
          
                  <v-btn
                  @click="step = 2"
                  flat>Cofnij</v-btn>
                </v-stepper-content>

                <v-stepper-content step="4">
                  <v-card
                    class="mb-5"
                    color="grey lighten-1"
                    height="200px"
                  ></v-card>
          
                  <v-btn 
                  flat
                  @click="step = 3"
                  >Cofnij</v-btn>
                </v-stepper-content>
              </v-stepper-items>
            </v-stepper>
          </v-app>
        </div>
        
        <script src="node_modules/vue/dist/vue.js"></script>
        <script src="node_modules/vuetify/dist/vuetify.js"></script>
        <script src="index.js"></script>
    </body>
</html>